@import 'https://js.arcgis.com/4.14/esri/css/main.css'

:host
  margin-left 1em
  display flex
  flex-direction column

  .component
    width 50%
    border 1px solid black
    padding 1em
    &__output
      max-height 15em
      white-space pre-wrap

  .esri-view
    width 100%
    height 300px
